---
export interface Service {
  name: string;
  icon: string;
  url: string;
}

const { id, title, icon, services } = Astro.props;
---

<ul class="mylist row">
  <li class="title"><svg class="icon" aria-hidden="true">
  <use xlink:href={icon}></use></svg> {title}</li>
  {
    services.map((service: Service) => (
        <li class="col-3 col-sm-3 col-md-3 col-lg-1">
          <a rel="nofollow" href={service.url} target="_blank">
            <svg class="icon" aria-hidden="true">
              <use xlink:href={service.icon}></use>
            </svg>
            <span>{service.name}</span>
          </a>
        </li>
      ))
  }
</ul>